.container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 64px 0;
    gap: 32px;
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.022em;
    color: var(--primary-black);
    margin-bottom: 16px;
}

.content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.014em;
    color: var(--alpha-800);
    margin-bottom: 32px;
    max-width: 512px;
}

.content form,
.content button,
.content form>div {
    width: 100%;
    max-width: 512px !important;
}

.content form label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.013em;
    color: var(--primary-black);
    margin-bottom: 8px;
}

.content input {
    margin-bottom: 16px;
}

.content textarea {
    margin-bottom: 32px;
}

.rightSide {
    display: none;
    margin: 0 -16px;
    height: 100vw;
    position: relative;
    max-width: 520px;
    max-height: 520px;
}

.rightSide div:nth-child(1) {
    width: 60%;
    height: 80%;
    overflow: hidden;
    border-radius: 0 96px 0 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightSide div:nth-child(1) img {
    width: 100%;
    z-index: 2;
}

.rightSide div:nth-child(2) {
    width: 50%;
    height: 60%;
    background-color: var(--grass-900);
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 96px 0 96px 0;
}

.rightSide div:nth-child(3) {
    width: 20%;
    height: 20%;
    background-color: var(--grass-900);
    position: absolute;
    top: 10%;
    right: 10%;
    border-radius: 100%;
}

@media (min-width: 1280px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        min-height: 600px;
    }

    .rightSide {
        display: block;
    }

    .leftSide,
    .rightSide {
        width: 50%;
        max-width: unset;
        max-height: 600px;
        padding: 0;
    }

    .leftSide {
        padding: 0;
        gap: 32px;
    }

    .content {
        align-items: flex-start;
    }

    .content form,
    .content form>div {
        width: 100%;
        max-width: 384px !important;
    }

    .content h1 {
        text-align: left;
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -0.022em;
    }

    .content p {
        text-align: left;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.014em;
        max-width: 384px;
    }
    .content button{
        width: fit-content;
    }

    .rightSide div:nth-child(1) {
        width: 392px;
        height: 520px;
    }

    .rightSide div:nth-child(2) {
        width: 288px;
        height: 350px;

    }

    .rightSide div:nth-child(3) {
        width: 96px;
        height: 96px;
        top: 122px;
        right: 64px;
    }
}