.container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 32px 0;
    gap: 32px;
}

.leftSide {
    display: flex;
    flex-direction: column;
}

.rightSide {
    display: none;
    position: fixed;
    background-color: var(--alpha-800);
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
}
.rightSideOpen{
    display: block;
}

.preview {
    width: calc(100vw - 32px);
    background: var(--primary-white);
    max-width: 520px;
    aspect-ratio: 210/297;
    overflow-y: scroll;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.preview::-webkit-scrollbar {
    display: none;
}
.preview > span{
    display: flex;
    justify-content: flex-end;
    color: var(--alpha-800);
}

.preview h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.021em;
    color: var(--primary-black);
}

.preview h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.017em;
    color: var(--primary-black);
}

.preview p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.013em;
    color: var(--alpha-800);
}

.preview div:first-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.preview div:first-child p {
    color: var(--alpha-600);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.022em;
    color: var(--primary-black);
    margin-bottom: 24px;
}

.content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.013em;
    color: var(--alpha-800);
    margin-bottom: 24px;
    max-width: 512px;
}

.content form,
.content button,
.content form>div {
    width: 100%;
    max-width: 512px !important;
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 24px
}

.content form label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.013em;
    color: var(--primary-black);
}

.content form>div>div {
    margin-top: 8px;
    max-width: unset;
}

.datePicker button {
    display: none;
}

.datePicker input[type="checkbox"] {
    display: inline-block;
    width: auto;
    height: 100%;
    margin-left: 8px;
}


.select>div>div {
    padding: 0 16px;
    height: fit-content;
}

.select input {
    height: unset;
}

.select>button {
    margin-top: 16px;
    width: fit-content;
}

.content textarea {
    margin-bottom: 32px;
}

.content .btnGroup {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.content .btnGroup button a {
    text-decoration: none;
    color: var(--primary-white);
    display: flex;
    gap: 8px
}

@media (min-width: 1280px) {
    .generateWrapper {
        background: linear-gradient(90deg, var(--primary-white) 50%, var(--grass-300) 50%);
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
        min-height: 600px;
        padding: 64px 0;
        gap: 128px;
    }

    .rightSide {
        display: block;
        height: fit-content;
        position: relative;
        background-color: var(--primary-white);
    }

    .leftSide,
    .rightSide {
        width: 50%;
        max-width: unset;
        padding: 0;
    }

    .leftSide {
        padding: 0;
        gap: 32px;
    }

    .content {
        align-items: flex-start;
    }

    .content form,
    .content form>div {
        width: 100%;
        max-width: 384px !important;
    }

    .content h1 {
        text-align: left;
        font-size: 48px;
        line-height: 54px;
        letter-spacing: -0.022em;
    }

    .content p {
        text-align: left;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.014em;
        max-width: 384px;
    }

    .content button {
        width: fit-content;
    }

    .content .btnGroup {
        margin-top: 0;
        flex-direction: row;
        justify-content: flex-start;
        gap: 16px;
    }

    .btnGroup button:last-child {
        display: none;
    }

    .preview {
        width: 100%;
        max-width: unset;
        padding: 32px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 24px;
        transform: unset;
        top: unset;
        left: unset;
    }

    .preview::-webkit-scrollbar {
        display: none;
    }

    .preview>span {
        display: none;
    }

    .preview h2 {
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        letter-spacing: -0.021em;
        color: var(--primary-black);
    }

    .preview h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.017em;
        color: var(--primary-black);
    }

    .preview p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.013em;
        color: var(--alpha-800);
    }

    .preview div:first-child {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .preview div:first-child p {
        color: var(--alpha-600);
    }
}