/* General */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--primary-white);
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    width: 100%;
    padding: 0 16px;
    overflow: hidden;
}

@media (min-width: 768px) {
    main {
        padding: 0 32px;
    }
}

@media (min-width: 992px) {
    main {
        padding: 0px 64px;
    }
}

/* Buttons */
button {
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 8px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.013em;
    border-radius: 2000px;
    box-shadow: var(--shadow-1);
    cursor: pointer;
    transition: 0.25s ease all;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-2);
}

button svg {
    height: 20px;
    width: auto;
}

button.primary {
    background-color: var(--grass-1000);
    color: var(--primary-white);
}

button.primary:hover {
    background-color: var(--grass-1100);
}

button.primary svg * {
    color: var(--primary-white);
}

button.secondary {
    background-color: var(--primary-white);
    color: var(--primary-black);
    box-shadow: none;
    border: 1px solid var(--alpha-400);
}

button.secondary:hover {
    background-color: var(--primary-black);
    color: var(--primary-white);
    box-shadow: var(--shadow-2);
    border: 1px solid var(--primary-black);
}

button.secondary svg * {
    color: var(--primary-black);
}

button.secondary:hover svg * {
    color: var(--primary-white);
}

button.lg {
    height: 40px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.014em;
    padding: 0px 16px 0px 16px;
}

button.lg svg {
    height: 24px;
}

button.sm {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.006em;
    padding: 0px 8px 0px 8px;
}

button.sm svg {
    height: 16px;
}

button:disabled {
    box-shadow: none;
    background-color: var(--grey-800);
}

button:disabled:hover {
    cursor: default;
    background-color: var(--grey-800);
    transform: none;
    box-shadow: none;
}

.Toastify button {
    box-shadow: none;
}

.Toastify button:hover {
    box-shadow: none;
    transform: none;
}

button>a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px -12px;
}

/* Inputs */
label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.013em;
    display: flex;
}

.input-wrapper {
    width: fit-content;
    height: fit-content;
    position: relative;
    max-width: 360px;
    width: 100%;
}

.input-wrapper svg {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

input,
textarea {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px 0px 48px;
    border: 1px solid var(--alpha-500);
    border-radius: 12px;
    height: 38px;
    transition: 0.25s ease all;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.013em;
    color: var(--alpha-1200);
}



textarea {
    padding: 8px 16px;
    height: fit-content;
    resize: none;
}

input::placeholder,
textarea::placeholder,
.select__control::placeholder {
    color: var(--alpha-500);
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none !important;
    border: 1px solid var(--alpha-1200);
}

/* Modals */
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--alpha-800);
    z-index: 9998;
}

.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: var(--primary-white);
    padding: 20px;
    width: calc(100% - 32px);
    max-width: 520px;
    box-shadow: var(--shadow-2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 80vh;
    overflow: scroll;
}

.modal-dialog::-webkit-scrollbar {
    display: none;
}

.modal-dialog h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.021em;
    color: var(--primary-black);
}

.modal-dialog p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.013em;
    color: var(--alpha-800);
}

.modal-dialog form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-dialog form .input-wrapper {
    margin-top: 8px;
    width: 100%;
    max-width: 100%;
}

.modal-dialog .btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

/* Selects */
.select__control,
.select__menu {
    border: 1px solid var(--alpha-500) !important;
    border-radius: 12px !important;
    transition: 0.25s ease all !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: -0.013em !important;
    color: var(--alpha-1200) !important;
}

.select__control {
    height: 38px !important;
}

.select__menu {
    padding: 0 !important;
    overflow: hidden;
}

/* Required Info */
.required {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #DB4324;
    padding-left: 4px;
}